* {
    box-sizing: border-box;
}

header {
    background-color: #1e82d9; 
    color: #fff;
    padding: 20px;
    width: 100%; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.brand h1 {
    margin: 0;
}

.search-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    float: left;
}

.search-bar button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search-bar button:hover {
    background: #0b7dda;
}

.login a {
    padding: 10px 20px;
    background-color: #1e82d9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.login a:hover {
    background-color: #155f91;
}

.about {
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px; 
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px; 
    }

    .search-bar input {
        max-width: 300px; 
    }
}
