body {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4;
}

.registerbody {
    background-image: url(/images/Registrationpage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 800px;
    margin-top: 10%;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif; 
}

.loginbody {
    background-image: url(/images/Registrationpage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 800px;
    margin-top: 10%;
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, sans-serif; 
}

#topbar {
    color: white;
    text-align: center;
    padding: 20px; 
}

h1 {
    color: black;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif; 
}

button {
    color: white;
    background-color: rgb(70, 143, 221);
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 15px;
    font-weight: bold; 
}

button:disabled {
    color: black;
    background-color: rgb(170, 170, 170);
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 15px;
    font-weight: bold;
    pointer-events: none;
}

a {
    text-decoration: none;
    color: black;
}

a#cancelbutton {
    color: black;
    background-color: rgb(70, 143, 221);
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-size: 15px;
    font-weight: bold; 
}

button:hover {
    background-color: rgb(50, 113, 186); 
}

.registration-form {
    display: block;
    margin: 80px auto; 
    width: 55%;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

.login-form {
    display: block;
    margin: 80px auto; 
    width: 55%;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input:focus {
    outline: none; 
    background-color: rgba(255, 255, 255, 0.9); 
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        padding: 15px; 
    }
    
    form {
        padding: 20px; 
    }
}
